<div>

    <h5>Cadastro de Conta de Cliente</h5>
    <hr/>

    <form autocomplete="off">

        <div class="row">
            <div class="col-md-6">
                <label>Nome do Cliente:</label>
                <input type="text" class="form-control" placeholder="Ex: João da Silva"/>
            </div>
            <div class="col-md-3">
                <label>Email:</label>
                <input type="text" class="form-control" placeholder="Ex: joaosasilva@gmail.com"/>
            </div>
            <div class="col-md-3">
                <label>CPF:</label>
                <input type="text" class="form-control" placeholder="Ex: 123.456.789-00"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-3">
                <label>Senha de Acesso:</label>
                <input type="password" class="form-control" placeholder="Digite aqui"/>
            </div>
            <div class="col-md-3">
                <label>Confirme sua Senha:</label>
                <input type="password" class="form-control" placeholder="Digite aqui"/>
            </div>
        </div>
        <br/>

        <strong>Dados de Endereço:</strong>
        <br/>

        <div class="row">
            <div class="col-md-3">
                <label>CEP:</label>
                <input type="text" class="form-control" placeholder="Ex: 20000-000"/>
            </div>
            <div class="col-md-6">
                <label>Logradouro:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-3">
                <label>Numero:</label>
                <input type="text" class="form-control"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-3">
                <label>Complemento:</label>
                <input type="text" class="form-control" placeholder="Ex: 20000-000"/>
            </div>
            <div class="col-md-3">
                <label>Bairro:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-3">
                <label>Cidade:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-3">
                <label>Estado:</label>
                <input type="text" class="form-control"/>
            </div>
        </div>
        <br/>

        <button class="btn btn-outline-primary">
            Adicionar Endereço
        </button>
        &nbsp;
        <button class="btn btn-success">
            Cadastrar Cliente
        </button>

    </form>

</div>
