<div class="row">
    <div class="col-md-4">

        <form #formAcesso="ngForm" (submit)="autenticarCliente(formAcesso)">

            <div class="card mb-4">
                <div class="card-body">

                    <h5>Acesso do Cliente</h5>
                    <hr/>

                    <label>Email de Acesso</label>
                    <input type="text" class="form-control" 
                        name="email" ngModel
                        placeholder="Ex: joaopedro@gmail.com"/>
                    <br/>

                    <label>Senha de Acesso</label>
                    <input type="password" class="form-control" 
                        name="senha" ngModel
                        placeholder="Digite aqui"/>
                    <br/>

                    <input type="submit" value="Acessar Conta"
                        class="btn btn-success"/>

                </div>
            </div>

        </form>

    </div>
</div>