<div>
    <h5>Minha cesta de compras</h5>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Nome</th>
                <th class="text-end">Preço</th>
                <th class="text-end">Quantidade</th>
                <th class="text-end">Total</th>
                <th class="text-center">Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dados.itens">
                <td>
                    <img src="{{path}}{{item.foto}}" style="width: 50px;"/>
                </td>
                <td>{{item.nome}}</td>
                <td class="text-end">{{item.preco | currency : 'R$ '}}</td>
                <td class="text-end">{{item.quantidade}}</td>
                <td class="text-end">{{(item.preco * item.quantidade) | currency : 'R$ '}}</td>
                <td class="text-center">
                    <button (click)="aumentarItem(item)"
                        class="btn btn-outline-primary">
                        +
                    </button>
                    &nbsp;
                    <button (click)="diminuirItem(item)"
                        class="btn btn-outline-danger">
                        -
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><strong>{{dados.total | currency : 'R$ '}}</strong></td>
                <td>
                    <a href="#" class="btn btn-success">
                        Finalizar Pedido
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>